//*     === FONTS ===

$font-stack: "OpenSans","OpenSansSemiBold", "RobotoCondensed", "RobotoSlab", "RobotoSlabSemiBold";

//*     === COLORS === 

$background-color: #f8f9fa;
$primary-color: #892CDC;
$secondary-color: #BEA0D3;
$tertiary-color:  #3C415C;
$complimentary-color: #34BEAE;
$secondary-font-color: #79567D;
$primary-font-color: #79567D;
$header-font-color: #3C415C;
$light-header-color: #FBEAFF; 
$light-font-color: #B39CD0;
$border-color:#dee2e6;

//      =====================
//*     === COMMON STYLES ===
//      =====================

$border: 1px solid $border-color;

%primary-font {
  font-family: "OpenSans";
  color: $primary-font-color;
  white-space: pre-wrap;
  font-size: 1rem;
  letter-spacing: .5px;
  line-height: 12px;
}

%secondary-font {
  font-family: "OpenSans";
  color: $secondary-font-color;
  white-space: pre-wrap;
  font-size: 1rem;
  letter-spacing: .5px;
  line-height: 24px;
}

%minor-font {
  font-family: "RobotoCondensed";
  color: $secondary-font-color
  
}
%header-font {
  font-family: "RobotoSlab";
  letter-spacing: 1.5px;
}

//      ===================
//*     === COMMON TEXT ===
//      ===================

.text-align-center {
  text-align: center
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.span-text {
  @extend %primary-font;
  display: block;

  &__dark {
    @extend %secondary-font;
    letter-spacing: .5px;
  }

  &__light {
    @extend %secondary-font;
    color: $light-font-color;
    letter-spacing: .5px;
  }
 
  &__primary {
    @extend %secondary-font;
    color: $primary-color;
    letter-spacing: .5px;
  }

  &__bold {
    @extend %primary-font;
    font-weight:  bold;
    letter-spacing: 1px;
  }

  &__italic {
    font-style: italic;
  }
}

.span-header {
  @extend %header-font;
  color: $header-font-color;
  display: block;

  &__capital {
    @extend %header-font;
    text-transform: capitalize;
    &__light {
      color: $secondary-font-color;
      @extend %header-font;
      text-transform: capitalize;
    }
  }

  &__uppercase {
    @extend %header-font;
    text-transform: uppercase;
    &__light {
      color: $secondary-font-color;
      @extend %header-font;
      text-transform: uppercase;
    }
  }

  &__dark {
    @extend %header-font;
    color: $secondary-font-color;
  }

  &__light {
    @extend %header-font;
    color: $light-header-color;
  }

  &__primary {
    @extend %header-font;
    color: $primary-color;
  }

  &__bold {
    font-weight:  bold;
  }

  &__italic {
    font-style: italic;
  }
}

.title {
  @extend %header-font;

  &__text {
    text-align: 'initial';
    width: '60%'
  }
}

//      ==================
//*     === COMPONENTS ===
//      ==================

img {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}

svg {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
  z-index: 1;
}

.portrait-card {
  position: 'fixed',
}

%portrait {
  max-height: 100%;
  
}

.portrait {
  @extend %portrait;

  &__animated {
    box-shadow: 0 0 0 1px whitesmoke;
    margin: 3rem;
    border-radius: 50%;
    transition: box-shadow 0.5s;
    will-change: transform;
    
  }

  &__bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3px;
    margin: 2rem;
  }

  &__inner {
    display: flex;
    justify-content: center;
    fill: $tertiary-color;
    border-radius: 20px;
    margin: 1rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &__bot {
      align-items: center;
      display: flex;
      flex-direction: column;
    }
  }

  &__header {
    font-size: 2.5em;
  }
}

%button-wrapper {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  width: auto;
  // right: 3rem;
}

.button-wrapper {

  &__up {
    @extend %button-wrapper;
    display: flex;
    justify-content: unset;
    width: unset;
    top: 2rem;
    right: 6rem;
    z-index: 30;
    
    
  }

  &__down {
    @extend %button-wrapper;
    bottom: 2rem;
    margin-right: 6rem;
    width: auto;
  }
}

.layer-button {
  width:  10rem;
  height: 3rem;
}

%wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.parallax {
  z-index: 2;
  background-color: $background-color;
  color: $primary-font-color;
  top: 0;
  left: 0;

  &__wrap-right {
    @extend %wrap;
    width: 65%;
    justify-content: center;
  }

  &__wrap-left {
    @extend %wrap;
    width: 35%;
    text-align: center;
    justify-content: center;
    
  }

  &__wrap-top {
    @extend %wrap;
    position: relative;
    top: 5rem;
  }

  &__wrap-bottom {
    @extend %wrap;
    height: auto;
    text-align: center;
    position: relative;
    bottom: 0;
    justify-content: flex-end;
  }
}

%wave {
  position: fixed;
  left: 0;
  width: 100%;
  overflow: visible;
  line-height: 0;
  height: auto;
}

.wave {
  &__top {
    @extend %wave;
    top: 0;
  }

  &__middle {
    @extend %wave;
    bottom: 100%;
    
  }

  &__bottom {
    @extend %wave;
    bottom: 0;
  }
}

.scaling-svg {

  &__top {
    top: 0;
    left: 0;
    transform: scaleY(50%) translateY(-51%);
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
  }

  &__bottom {
    z-index: 20;
    transform: scaleY(50%) translateY(52%);
    filter: drop-shadow(3px -5px 2px rgb(0 0 0 / 0.4));
  }
}

.animated-text-container {
  margin-top: 2rem;
  margin-left: 5%;
  text-align: initial;
  margin-right: 10%;
}

.top-layer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.bottom-layer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  background-color: $tertiary-color;
}

.page-container {
  position: fixed;
  padding-right: 5rem; 
  padding-left: 5rem;
  left: 0;
  right: 0;
  height: auto;
  z-index: 10;
}

.bottom-title {
  display: flex;
  flex-direction: row;
}

.links {
  width: 65%;
  padding-top: 1rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-evenly;
}

@media screen and (max-width: 430px) and (orientation: portrait) {
}

@media screen and (max-width: 850px) and (orientation: landscape) {
  .portrait-card {
    height: 100%,
  }

  .portrait__inner {
    margin: 0;
  }

  span.portrait__header {
    font-size: 1.5rem;
  }

  div.links {
    width: unset;
  }

  div.page-container {
    padding: 1rem;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 75%;
  }

  div.parallax__wrap-top {
    top: 2rem;
  }

  div.bottom-title {
    font-size: 1rem;
  }

  div.links {
    width: 100%;
  }

  div.page-container {
    padding: 0;
  }

  div.wave__top {
    position: absolute; 
    height: 0;
    bottom: 0;
    padding: 0;
    padding-bottom: 80%; 
  }

}

@media screen and (max-width: 450px) {

  div.portrait__animated {
    margin: 0;
  }
  div.animated-text-container {
    margin: 0;
    margin-top: 0;
    width: 100%;
  }

  div.bottom-title {
    font-size: 1.25rem;
  }

  div.page-container {
    padding: 1rem;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 75%;
  }

  div.portrait__content__bot {
    width: 100%;

  }

  div.parallax__wrap-top {
    top: 6rem;
  }

  div.parallax__wrap-left {
    width: 100%;
    height: 65%;
  }

  div.parallax__wrap-right {
    width: 85%;
    height: 20%;
    justify-content: flex-start;
  }

  div.top-layer {
    flex-direction: column;
    justify-content: initial;
  }

  div.button-wrapper__down {
    position: relative;
    right: 0;
    margin-right: 0;
  }

  div.button-wrapper__up {
    right: auto;
  }

  div.links {
    padding-bottom: .5rem;
  }
}

@media screen and (min-width: 930px) {
}

@media screen and (min-width: 1065px) {
}

@media screen and (min-width: 601px) {
}